body {
    background-color: rgb(255, 255, 255);
    font-family: 'Open Sans', sans-serif;
    max-width: 100%;
}

h1 {
    font-size: 20px;
}

h2, h3, h4 {
    font-size: 18px;
}

i {
    font-style: italic;
}

a, a:hover {
    transition-duration: 0.6s;  
    -moz-transition-duration: 0.6s;  
    -webkit-transition-duration: 0.6s;  
    -o-transition-duration: 0.6s    
}

img { /* styling images */
    max-width: 300px;
}

ul, li {
    list-style: none;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 1.5em;
    background-color: rgb(149,144,168);
    max-width: 1500px;
    padding: 0.5em;
    font-size: 30px;
    color: #fff;
    border-radius: 0.2em;
}

menu { /* nav */
    background-color: rgb(149,144,168);
    list-style-type: disc;
    padding: 10px;
    margin: -35px 0 0 2em;
    border-radius: 0.2em;
    font-size: 25px;
    width: 250px;
    height: auto;
}

menu a {
    color: #fff;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: row;
}

menu a:hover {
    color: #000;
}

menu ul, li {
    list-style: none;
}

main {
    background-color: rgb(149,144,168);
    display: block;
    margin: -203px 0 0 330px;
    max-width: 1215px;
    border-radius: 0.2em;
    padding: 1em;
}

.main-text {
    background-color: #fff;
    font-size: 25px;
    color: rgb(99,75,102);
    text-align: center;
    padding: 10px;
    border-radius: 0.5em;
}

main img {
    height: 300px;
    margin: 0.5em;
    padding: 1em;
    border: 1px solid #fff;
}

.list {
    list-style: none;
    margin-left: 0;
    padding-left: 0;
}

.list a {
    color: #fff;
}

.list a:hover {
    color: #000;
}

.tv-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tv-list li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: min-content;
    align-items: center;
}

#style_table { /* table styling*/
    background-color: rgb(149,144,168);
    margin: 10px 0 0 113.5em;
    width: 500px;
    border-radius: 0.2em;
    font-size: 14px;
    color: #fff;
}

.my-favorite {
    background-color: rgb(149,144,168);
    margin: -570px 0 0 99.3em;
    width: 490px;
    padding: 0.3em;
    border-radius: 0.2em;
    text-align: center;
    color: #fff;
}

#contact_form {
    background-color: rgb(149,144,168);
    margin: 10px 0 0 99.3em;
    width: 470px;
    padding: 1em;
    border-radius: 0.2em;
    color: #fff;
}
